{{define "subject"}}~~~Witamy w Ukropie~~~{{end}}

{{define "plainBody"}}
Hej,

Fajnie że jesteś!
Twoje ID to {{.userID}}. (absolutnie nic to nie znaczy, ale widzisz którą jesteś osobą co ma konto, a to całkiem cool)

Twój token to:

"token": "{{.activationToken}}"

Wrzuć do aktywacji pls, bo potem się przeterminuje i będę musiał kombinować co dalej xddd.

pzdr,
Ukrop
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hej,</p>
    <p>Fajnie że jesteś!</p>
    <p>Twoje ID to {{.userID}}. (absolutnie nic to nie znaczy, ale widzisz którą jesteś osobą co ma konto, a to całkiem cool)</p>
     <p>Twój token to:</p>
    <pre><code>
    "token": "{{.activationToken}}"
    </code></pre>
    <p>Wrzuć do aktywacji pls, bo potem się przeterminuje i będę musiał kombinować co dalej xddd.</p>
    <p>pzdr,</p>
    <p>Ukrop</p>
</body>

</html>
{{end}}