name: Go
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        go-version: [ '1.25.x' ]

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Display Go version
        run: go version
      - name: Download dependencies
        run: go mod download
      - name: Build
        run: go build -v ./cmd/api
      - name: Test with the Go CLI
        run: go test -json ./cmd/api
